<h1>{{naam}}</h1>
<input #myRef naam="naam" value="{{naam}}" type = "text">
<button  (click) = "showMessage(myRef.value)">show</button>

<button type="button" (click)="incrementCounter()">increment</button>
<button type="button" (click)="decrementCounter()">decrement</button>
<!-- ------------------------------------------------------------------------------------ -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>